$orange-color: #ff6634;

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

.my-container {
  width: 100%;
}

.burgar {
  padding: 0 20px;
}

.burgar div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

nav,
nav ul {
  display: flex;
}

.navbar {
  padding: 32px;
  height: 83px;
  width: 100%;
}

.navbar .left-navbar {
  width: 60%;
}

nav ul li {
  font-weight: 400;
  margin-left: 50px;
  padding: 0;
  font-size: 15px;
  color: #555555;
}

.signup-list {
  display: flex;
  height: 83px;
  position: relative;
  bottom: 10px !important;
}

.signup-button {
  font-weight: 400;
  align-items: center;
  width: 128px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid $orange-color;
  color: $orange-color;
}

// Banner Section
.banner-section {
  background-color: #ffebff;
  height: 677px;
  width: 100%;
}

.banner-section .input-form input {
  border-radius: 6px;
  background-color: white;
  width: 556px;
  height: 72px;
}

.banner-section .input-form input::placeholder {
  color: #dedede;
  font-size: 17px;
  padding-left: 26px;
}

.banner-section .input-form .form-button {
  background-color: $orange-color;
  font-size: 17px;
  width: 133px;
  height: 58px;
  position: absolute;
  right: 140px;
  border-radius: 4px;
  left: 574px;
  top: 394px;
}

.search-form {
  width: 40%;
  padding-top: 128px;
  padding-left: 159px;
}

.p-title {
  font-weight: 900 !important;
  font-size: 40px;
  line-height: 48.76px;
  width: 490px;
  color: #303030;
  height: 98px;
}

.s-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  width: 482px;
  color: #747474;
}

.quote {
  position: absolute;
  height: 50px;
  width: 414px;
  left: 92.05px;
  top: 602.06px;
  border-radius: nullpx;
}

.quotesImg {
  top: 21px;
  border-radius: 0px;
}

.rightQuote {
  position: relative;
  left: -10px;
  top: 1.4px;
}

.closingQuotes {
  float: right;
}

.quote-text {
  font-size: 14px;
  color: #8d8d8d;
}

.banner-img {
  height: 677px;
  width: 893px;
  left: 587px;
  top: 91px;
  border-radius: 0px;
}

.banner-mini-1 {
  height: 58px;
  width: 58px;
  left: 834px;
  top: 250px;
  border-radius: 6px;
  background-color: white;
  position: absolute;
}

.banner-mini-2 {
  height: 84px;
  width: 86px;
  left: 728px;
  top: -444px;
  border-radius: 6px;
  background-color: white;
  position: relative;
}

.banner-mini-3 {
  height: 146.36521911621094px;
  width: 263px;
  left: 658px;
  top: 544px;
  border-radius: 4px;
  position: absolute;
  background-color: white;
}

.banner-mini-2 .text-1 {
  height: 35px;
  width: 53px;
  font-size: 29px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: $orange-color;
}

.banner-mini-2 .text-2 {
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
  color: #6c6c6c;
}

.review-box .text-1,
.banner-mini-3 .text-1 {
  width: 207px;
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

.review-box .text-2,
.banner-mini-3 .text-2 {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  color: #6c6c6c;
}

.review-box .text-3,
.banner-mini-3 .text-3 {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #bfbfbf;
}

.avatar {
  height: 43.45217514038086px;
  width: 43.45217514038086px;
  left: 679.3449096679688px;
  top: 630.1419677734375px;
  border-radius: 0px;
}

.secondary-img {
  width: 90%;
  margin-left: 80px;
}

.dotted-switches {
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
}

.dotted-switches div:nth-child(1) {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background: #8a8a8a;
}

.dotted-switches div {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background: white;
  border-width: thin;
}

// Review Section
.review-heading {
  width: 100%;
  padding-top: 80px;
}

.review-heading .heading-1 {
  font-size: 29px;
  font-weight: 800;
  line-height: 35px;
  color: #303030;
}

.review-heading .heading-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #8d8d8d;
}

.review-box {
  height: 225px;
  width: 290px;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 2px #0000000a;
}

.review-box .mid-text-1 {
  width: 101px;
  color: #ff6634;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  background-color: #fef7f5;
  border-radius: 6px;
}

.review-box .mid-text-2 {
  width: 100px;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  color: #000000;
  text-align: right;
}

.review-box .avatar-section {
  background-color: #fcfcfc;
  // height: 70px;
}

.review-box {
  justify-content: space-between;
}

.num-rating {
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  margin-left: 4px;
  margin-top: 4px;
  color: #000000;
}

.review-section {
  display: grid;
  // height: 100%;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
}

// subscribe-section

.subscribe-section {
  background: #f8f8f8;
  width: 100%;
  // height: 380px;
}

.subscribe-section .section-1 {
  width: 60%;
  padding-left: 120px;
}

.subscribe-section .section-2 {
  width: 40%;
}

.subscribe-section .text-1 {
  font-size: 29px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  color: #303030;
}

.subscribe-section .text-2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #8d8d8d;
  width: 557px;
}

.subscribe-section .input-form input {
  border-radius: 6px;
  background-color: white;
  height: 54px;
  width: 479px;
  left: 201px;
  top: 1851px;
  border-radius: 6px;
}

.subscribe-section .input-form input::placeholder {
  color: #dedede;
  height: 18px;
  width: 203px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 15px;
}

.subscribe-section .input-form .form-button {
  background-color: $orange-color;
  height: 54px;
  width: 133px;
  left: 691px;
  top: 1851px;
  border-radius: 4px;
}

// social-section
.social {
  border-bottom-width: thin;
}

.social-section {
  background-color: #fefefe !important;
  width: 90%;
  margin: 0 auto;
}

.social-section img {
  height: 61.721229553222656px;
  width: 152px;
}

// advert-section
.adds-section {
  width: 100%;
  min-height: 500px;
}

section .box {
  height: 317px;
  width: 387px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  background: #fbfbfb;
}

.adds-section .box-container {
  width: 70%;
  padding-top: 150px;
}

.adds-section .box-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #c2c2c2;
  top: 50%;
  position: relative;
  text-transform: uppercase;
}

.get-started {
  margin-top: 120px;
  margin-bottom: 100px;
  height: 188px;
  width: 1083px;
  border-radius: 8px;
  background: #ffebff;
}

.get-started .form-button {
  background-color: $orange-color;
  font-size: 17px;
  height: 54px;
  width: 223px;
  border-radius: 4px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  top: -120%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.get-started .sec-1 {
  width: 50%;
  padding-top: 60px;
}

.get-started .sec-1 .text {
  width: 389px;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.get-started .sec-2 {
  width: 50%;
  height: 300px;
}

.get-started img {
  height: 176px;
  width: 402px;
}

// Footer
footer {
  background: #1f2131;
  height: 430px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

footer .section-1 {
  padding-top: 140px;
  padding-left: 80px;
  width: 40%;
}

footer .section-1 .about-text {
  height: 67px;
  width: 379px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: gray;
}

footer .section-1 .text-2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
}

.social-img {
  border-radius: 50%;
  border: 1px solid #393c4d;
  padding: 15px;
}

footer .section-2 {
  width: 40%;
}

footer .section-2 span {
  height: 19px;
  width: 168px;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  padding-bottom: 20px;
}

footer .section-2 li {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 23px;
  width: 168px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
}

@import "mobile.scss";
@import "tablet.scss";
